nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  /*backdrop-filter: blur(15px);*/
}

nav .link {
  color: var(--color-light);
  padding: 0 20px 0 20px;
  /*animation-fill-mode: forwards;*/
  font-weight: 400;
  font-size: 2rem;
}

nav .about {
  /* text-decoration: underline dotted var(--color-bg-variant) 3px; */
  color: var(--color-bg-variant);
}

#name {
  font-size: 2.5rem;
}

.back_arrow__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.back_arrow__container p {
  /* align w/ back arrow */
  padding-top: 0.5rem;
}

.back-arrow-icon {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}

@keyframes Element-disappear {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

@keyframes reappear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* ===== MEDIA QUERIES (SMALL DEVICES) ===== */
@media screen and (max-width: 600px) {
  .back_arrow__container {
    gap: 1rem;
  }

  .back_arrow__container p {
    /* align w/ back arrow */
    font-size: 1.5rem;
  }

}
