.info__container {
  margin: 12vh auto;
  padding: 0 2rem 1rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}

.text__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

img {
  display: inline-block;
  max-width: 20rem;
  border-radius: 25px;
  border: 10px solid var(--color-light);
}

.text__container h1 {
  font-size: 3rem;
  color: var(--color-white);
  padding-bottom: 1rem;
}

.description__container {
  padding-top: 1rem;
  text-align: center;
}

.text__container p {
  font-size: 1.5rem;
}

.info__container h2 {
  font-size: 2rem;
}

.contact__container {
  margin: 2rem 0 0 0;
}

.link__container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  font-size: 1.7rem;
}

.link__container a {
  color: var(--color-light);
  transition: var(--transition);
}

.link__container a:hover {
  color: var(--color-white);
}

.venmo-icon {
  padding: 3px 0 0 0;

}

/* ===== MEDIA QUERIES (MEDIUM DEVICES) ===== */
@media screen and (max-width: 1024px) {
  .text__container h2 {
    font-size: 1.7rem;
  }

  .contact__container {
    margin: 1rem 0 0 0;
  }

  img {
    width: 20rem;
    border-width: 10px;
  }
}

/* ===== MEDIA QUERIES (SMALL DEVICES) ===== */
@media screen and (max-width: 600px) {
  .info__container {
    margin: 0 1rem 0 1rem;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .text__container h1 {
    font-size: 2.5rem;
  }

  .text__container h2 {
    font-weight: 500;
  }

  .description__container {
    text-align: center;
    width: 100vw;
  }

  .contact__container {
    margin: 1rem 0 1.5rem 0;
  }

  img {
    width: 15rem;
    border-width: 5px;
  }

  .text__container p {
    font-size: 20px;
  }
}